body {
  font-family: 'Akkurat-light', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, sans-serif;
  height: 100%; }

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.mainDisplay {
  display: flex;
  flex-direction: row;
  padding: 50px; }

.productWrapper {
  box-shadow: -1px 0px 14px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  padding: 10px;
  margin: 10px; }

.comingSoon {
  opacity: 0.3; }

.itemsContainer {
  display: flex;
  flex: 2;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 60%; }

.cartContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  margin-left: 50px; }

.cartHeader {
  flex: 1; }

.cartContent {
  padding: 10px;
  box-shadow: -1px 0px 14px -2px rgba(0, 0, 0, 0.75);
  max-width: 400px;
  flex: 1; }

.selectedItemWrapper {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 400px; }

.selectedProduct {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px; }

.productContent {
  display: flex;
  flex-direction: row;
  flex: 0.5;
  padding: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1px #827f82; }

.selectedProductName {
  flex: 1; }

.selectedProductBtn {
  flex: 1;
  margin-left: 10px; }

.productImg > img {
  width: 60px;
  height: auto;
  padding: 5px; }

.productName {
  padding: 5px; }

.productImg {
  padding: 5px; }

.productPrice {
  font-weight: 600;
  padding: 5px; }

a.buttonRm {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  background-color: #657179;
  text-align: center;
  transition: all 0.2s; }

a.buttonRm:hover {
  background-color: #bbdcf0; }

a.buttonAdd {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.92);
  background-color: #6eb5e4;
  text-align: center;
  transition: all 0.2s; }

a.buttonAdd:hover {
  background-color: #4095c6; }

@media screen and (max-width: 1100px) {
  .mainDisplay {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px; }
  .cartContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex: 1;
    margin-left: 0px; }
  .productWrapper {
    display: flex;
    width: 120px;
    height: 240px;
    padding: 10px;
    margin: 10px; }
  .productImg > img {
    width: 40px;
    height: auto;
    padding: 2px; }
  .itemsContainer {
    justify-content: center;
    min-width: 100%; } }
